.h_iframe-aparat_embed_frame
  position: relative
  .ratio
    display: block
    width: 100%
    height: auto
  iframe
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
  span
    display: block
    padding-top: 57%
