blockquote
  position: relative
  width: 100%
  height: auto
  margin: 2rem auto 0 auto
  color: sefid(1)
  overflow: visible
  img
    width: 6rem
    height: 6rem
    border-radius: 50%
    position: absolute
    top: -1.5rem
    right: 1rem
    z-index: 2
  .esm-block
    padding: 0 2rem 0 0.5rem
    background-color: lighten(tosi(1), 35%)
    font-size: 0.8rem
    position: absolute
    top: 0.2rem
    right: 5.6rem
    z-index: 1
  .semat-block
    padding: 0 3rem 0 0.5rem
    background-color: lighten(tosi(1), 35%)
    font-size: 0.8rem
    position: absolute
    top: 2.3rem
    right: 4rem
    z-index: 1
  .matn-block
    background-color: tosi(1)
    padding: 5.5rem 1.8rem 1rem 1rem
    text-align: justify
    &:before
      content: ''
      position: absolute
      right: 1rem
      top: 5.2rem
      border-right: 2px solid lighten(tosi(1), 35%)
      height: calc(100% - 5.8rem)
