.dogme
	overflow hidden
	cursor pointer
	white-space nowrap
	position relative
	display inline-block
	min-height 25px
	min-width 20px
	padding 3px
	outline none
	color #fff
	text-decoration none
	z-index 1
	font-size 1rem
	line-height 2.2
	margin-left: 1rem
	&:last-child
		margin-left: 0
	&:active
		top 2px
		color white
	&:before
		position: absolute
		top: 0
		right: 0.6rem
		font-size: 2rem
		line-height: 1.6

.temamsafe
	width: 100%

.i-ghabol
	&:before
		content: '\2714'

.i-rad
	&:before
		content: '\2718'

.i-sabz
	background-color lighten(tosi(1), 50%)
	border 1px solid lighten(tosi(1), 60%)
	&:hover
		color lighten(tosi(1), 80%)
		background-color darken(sabz(0.8), 70%)

.i-ghermez
	background-color lighten(tosi(1), 50%)
	border 1px solid lighten(tosi(1), 60%)
	&:hover
		color lighten(tosi(1), 80%)
		background-color darken(ghermez(0.8), 40%)

.i-firoz
	background-color lighten(tosi(1), 50%)
	border 1px solid lighten(tosi(1), 60%)
	&:hover
		color lighten(tosi(1), 80%)
		background-color darken(firoze(0.8), 40%)

.i-abi
	background-color darken(abi(1), 25%)
	border 1px solid abi(1)
	&:hover
		color lighten(tosi(1), 80%)
	&::after
		background-color darken(abi(0.8), 40%)

.i-sorme
	background-color lighten(tosi(1), 50%)
	border 1px solid lighten(sorme(1), 50%)
	&:hover
		color sefid(1)
		background-color lighten(sorme(1), 40%)

.i-tosi
	background-color lighten(tosi(1), 50%)
	border 1px solid lighten(tosi(1), 60%)
	&:hover
		color lighten(tosi(1), 80%)
		background-color lighten(tosi(1), 35%)

.i-gerd
	border-radius 50%
	width 50px
	height 50px

.i-round
	border-radius 2px
	padding 0.1rem 1rem

.bamatn
	text-align: center
	padding: 0 1rem 0 2.5rem
	&:before
		position: absolute
		height: 100%
		left: 8px
		right: auto
		top: 0
		font-size: 30px
		line-height: 1.2
		border-right: 1px solid sefid(1)
		padding-right: 8px

.bimatn
	width: 2.5rem
	height: 1.5rem
	&:before
		position: absolute
		height: 100%
		right: 0.7rem
		left: auto
		top: 0.1rem
		font-size: 20px

button:disabled
	cursor: not-allowed
	background-color: lighten(tosi(1), 80%)
	border: 1px solid lighten(tosi(1), 75%)
	overflow hidden
	&:hover
		color sefid(1)
	&::after
		background-color: lighten(tosi(1), 65%)

