.flex-darbar
  text-align: center
  font-size: 1rem
  .dogme
    margin-top: 2rem
  .cart
    margin-top: 1rem
    h3
      position: absolute
      top: 1rem
      width: 100%
    .ghabe-kart
      margin: 1rem auto
      width: 20rem
      height: 12rem
      border: 2px solid sorme(1)
      border-radius: 0.5rem
      position: relative
      background-color: darken(ghermez(1), 50%)
      color: sefid(1)
      .name
        position: absolute
        top: 4rem
        padding-top: 0.5rem
        font-size: 1.2rem
        width: 100%
        height: 3rem
        background-color: lighten(tosi(1), 40%)
      .shomare
        direction: ltr
        position: absolute
        font-size: 1.7rem
        bottom: 1rem
        left: 1.5rem
