.vorod-item
  flex-basis: 100%
  @media(min-width 690px)
    flex-basis: 48.5%
  textarea,
  input
    position relative
    display inline-block
    z-index 1
    border none
    cursor text
    opacity 1
    transition opacity 0s 0.4s
    &:focus
      outline none
      cursor text
      opacity 1
      transition opacity 0s 0.4s
  label
    width 100%
    display inline-block
    user-select none
    top 32px
    span
      position relative
      display block
      width 100%
      height 100%

.s-nariko
  overflow: hidden !important
  padding-top 34px
  position relative
  textarea,
  input
    width 100%
    background-color transparent
    opacity 0
    padding 0.35em
    z-index 100
    color: sorme(1)
    position relative
    &:focus
      opacity 1
  label
    width 100%
    height 100%
    right 0
    bottom 0
    position absolute
    pointer-events none
    text-align right
    color sorme(1)
    padding 0 0.5em
    &:before
      content ''
      position absolute
      width 100%
      height 100%
      top 100%
      right 0
      background-color sabz(0.4)
      border-top 2px solid sorme(1)
      transform translate3d(0, -36px, 0)
      transition transform 0.4s
      transition-timing-function cubic-bezier(0.7, 0, 0.3, 1)
    span
      padding 0 0
      transform-origin 0% 100%
      transition transform 0.4s, color 0.4s
      transition-timing-function cubic-bezier(0.7, 0, 0.3, 1)

.s-nariko.ng-invalid,
.s-nariko.ng-invalid-required
    label
      &:before
        border-top: 2px solid ghermez(1)

.input--filled
  textarea,
  input
    opacity 1
  label
    &:before
      transition-delay 0.05s
      transform translate3d(0, -100%, 0)
    span
      color sabz(1)
      font-size 95%
      transform translate3d(0, -32px, 0)


.form-item
  display flex
  flex-direction row
  flex-flow: row wrap
  justify-content space-between

  input[type='text'],
  input[type='email'],
  input[type='password'],
  select,
  textarea
    flex-basis: 100%
    @media(min-width 690px)
      flex-basis: 48.5%

  input[type='text'],
  input[type='password'],
  input[type='email'],
  textarea
    &::placeholder
      font-size: 1rem
      opacity: 0.3

  .form-tak
    flex-basis: 100%
    @media(min-width 690px)
      flex-basis: 48.5%
    background-color: rgba(136, 136, 136, 0.55)
    padding: 0 1rem 0.8rem 1rem
    border-radius: 0.5rem
    margin: 0.5rem 0
    input,
    textarea
      min-height: 3rem
      width: 100%
      font-size: 1.5rem
      border: 1px solid sorme(1)
      padding: 0 1rem
      border-radius: 0.5rem
      margin-top: 0.2rem
      background-color: lighten(bezh(0.5), 70%)
      &:focus
        background-color: lighten(bezh(1), 80%)
        outline: none
      &:disabled
        background-color: rgba(136, 136, 136, 0.7)
    label
      width: 100%
      height: 1.5rem
      padding-right: 2rem
      color: #fff


  input.ng-invalid,
  input.ng-invalid-required,
  textarea.ng-invalid,
  textarea.ng-invalid-required
    border: 1px solid red !important

  .osentekhab
    display flex
    flex-direction row
    flex-flow: row wrap
    justify-content space-between
    li
      list-style: none
      width: 24%
      cursor: pointer
      .aks
        img
          width: 100%

.taki
  flex-basis: 100% !important
