#loading-bar
  .bar
    top: 1px
    background: ghermez(1)
    height: 3px
    box-shadow: ghermez(1) 2px 0 6px 1px
  .peg
    height: 3px
    opacity: 1
    background: lighten(ghermez(1), 10%)
    box-shadow: ghermez(1) 3px 0 7px 1px
    // z-index: 1004

#loading-bar-spinner
  .spinner-icon
    border-top-color:  ghermez(1)
    border-left-color: ghermez(1)
