.navbar
  width 100%
  // position: absolute
  margin 0 auto
  text-align: right
  z-index 99
  display: flex
  flex-flow: row wrap
  align-content: center
  align-items: center
  >*
    width: 100%
  .romenu
    height: 7.2rem
    background-color: rgb(226, 226, 226)
    padding-top: 0.5rem
    a
      text-decoration: none
      color: darken(ghermez(1), 30%)
      display: flex
      flex-flow: row wrap
      align-content: center
      align-items: center
      justify-content: center
      span
        font-size: 2rem
  .zirmenu
    height: 4.5rem
    background-color rgb(43, 45, 50)
    border-bottom: 1px solid rgb(92, 91, 91)
    padding: 0 5%
    display: flex
    flex-flow: row wrap
    align-content: center
    nav
      text-align: center
      width 100%
      height: 100%
      display flex
      flex-flow: row wrap
      align-content center
      align-items: center
      @media(min-width 750px)
        text-align: right
      span
        display: block
        @media(min-width 750px)
          display: none
      a
        padding-right: 0.5rem
        display: none
        color: rgb(255, 255, 255)
        text-decoration: none
        font-size: 1rem
        line-height: 4.5rem
        flex-basis: 100%
        text-align: center
        @media(min-width 750px)
          flex-basis: 20%
          display: block
        &:hover
          color: rgb(92, 91, 91)
      .menu-icon
        color: rgb(170, 170, 170)
        font-size: 2rem
        padding-right: 52%
        padding-top: 0.6rem
        cursor: pointer
        &:hover
          color: rgb(255, 255, 255)

.sticky
  position: fixed
  top: 0
  right: 0
  z-index: 999
  animation: slideInDown 0.8s
  .zirmenu
    height: 3.5rem


.bodyfasballa
  margin-top: 3.5rem
