body
  background-color: sefid(1)

.gride
  position relative
  border-bottom: 2px solid lighten(rgb(32, 32, 32), 50%)
  width: 100%

  .posht
    width: 100%
    background-color: rgb(237, 240, 249)
    padding: 0 0 6rem 0
    color: lighten(rgb(13, 19, 36), 95%)
    h1
      color: tosi(1)
      max-width: 1235px
      width: 100%
      margin: auto
      font-size: 1.5rem
      padding: 2rem 0 0.2rem 0
      position: relative
      &:before
        content: ''
        position: absolute
        top: 1.2rem
        right: 0
        width: 2.5rem
        border-bottom: 3px solid rgb(175, 60, 30)

  .noh-darbar
    width: 99%
    margin: -4rem auto 0 auto
    padding: 0 0 1.5rem 0
    max-width: 1235px


.teamamaks
  width: 100%
  margin: 0.8rem 0
