.rteditor
  width: 100%
  text-align: center
  position: relative
  .frtc-bold
    font-weight: bolder
  .frtc-italic
    font-style: italic
  .frtc-underline
    text-decoration: underline

  .dogme-ov
    overflow: visible !important
    line-height: 2.5rem
    &:hover
      .tooltip
        display: block

  .frt-font
    background-color: lighten(tosi(1), 20%)
    min-height: 4rem
    width: 100%
    margin-top: 1rem
    padding: 1rem 1.5rem
    .dogme
      min-height: 0.5rem
      height: 2rem
      min-width: 10rem
      line-height: 1.5rem
  #richtextfield,
  .virayesh-ghab
    width: 100%
    min-height: 38rem
    border: 2px solid sorme(1)
  .rt-texarea
    width: 100%
    background-color: bezh(1)
    display: none
    border: 2px solid sorme(1)

.khamosh
  display: none

.roshan
  display: block !important

.tooltip
  position: absolute
  display: none
  top: -1.6rem
  right: -50%
  height: 1.5rem
  padding: 0 0.5rem
  background-color: #2b2d32
  line-height: 1.5rem
  border-radius: 0.2rem
  &:after
    content: ''
    position: absolute
    top: 100%
    right: 2.5rem
    margin-left: -5px
    border-width: 5px
    border-style: solid
    border-color: #2b2d32 transparent transparent transparent

.vas-nev-div,
.vas-dog-div
  position: relative
  padding: 0.2rem 0
  background-color: lighten(bezh(1), 80%)
  &::after
  	content: ''
  	position: absolute
  	top: 0.2rem
  	right: 0
  	width: 100%
  	border-bottom: 1px solid tosi(1)
  &:first-child
    &::after
      border-width: 0

.dogmeha-rt
	border-left: 2px solid sorme(1)
	border-right: 2px solid sorme(1)
	border-top: 2px solid sorme(1)
	margin-bottom: 0
