.gride

  .posht
      
    h1 ویدیوهای آموزش استفاده از ویرایشگر
  .noh-darbar
    
    h2  معرفی ویرایشگر
    br
    .h_iframe-aparat_embed_frame
      span(style='display: block;padding-top: 57%')
      iframe(src='https://www.aparat.com/video/video/embed/videohash/oFny8/vt/frame', allowfullscreen='true', webkitallowfullscreen='true', mozallowfullscreen='true')
    br
    hr
    br
    br
    h2  نحوه بولد و ... کردن متن
    br
    .h_iframe-aparat_embed_frame
      span(style='display: block;padding-top: 57%')
      iframe(src='https://www.aparat.com/video/video/embed/videohash/j1YDr/vt/frame', allowfullscreen='true', webkitallowfullscreen='true', mozallowfullscreen='true')
    br
    hr
    br
    br
    h2  نحوه پاک کردن استایل و آنلینک کردن
    br
    .h_iframe-aparat_embed_frame
      span(style='display: block;padding-top: 57%')
      iframe(src='https://www.aparat.com/video/video/embed/videohash/NvW1m/vt/frame', allowfullscreen='true', webkitallowfullscreen='true', mozallowfullscreen='true')
    br
    hr
    br
    br
    h2  پیاده سازی عکس
    br
    .h_iframe-aparat_embed_frame
      span(style='display: block;padding-top: 57%')
      iframe(src='https://www.aparat.com/video/video/embed/videohash/Psftz/vt/frame', allowfullscreen='true', webkitallowfullscreen='true', mozallowfullscreen='true')
    br
    hr
    br
    br
    h2  اضافه کردن ویدیو از آپارت
    br
    .h_iframe-aparat_embed_frame
      span(style='display: block;padding-top: 57%')
      iframe(src='https://www.aparat.com/video/video/embed/videohash/V2jkr/vt/frame', allowfullscreen='true', webkitallowfullscreen='true', mozallowfullscreen='true')
