.gride

  .posht
      
    h1 کمک های مالی
  .noh-darbar
    .cart
      .neveshte اگر این ویرایشگر مورد به کارتون اومد میتونید به همین شماره کارت هر مبلغی که دوست دارید واریز کنید تا به ادامه حیاتش و گسترشش در انگولار ۲ و react و ... کمک کنید
      .ghabe-kart
        h3  بانک پارسیان
        .name سید امیر حسینی
        .shomare 6221 0610 7790 3401
