.gride

  .posht
      
    h1 کمک های مالی
  .noh-darbar.flex-darbar
    | اگر این ویرایشگر به کارتون اومد میتونید از طریق دگمه زیر یا شماره کارت بانکی که در پایین میبیند هر مبلغی که دوست دارید رو برای ادامه حیات اون و گسترشش در انگولار ۲ و  react و … پرداخت کنید. به دنیای متن باز کمک کنیم هر چند کار کوچکی انجام شده باشه.
    a.dogme.i-sabz.-i-round.temamsafe.bamatn.i-arrow(href="https://www.payping.ir/sydamir") کمک مالی
    .cart
      .ghabe-kart
        h3  بانک پارسیان
        .name سید امیر حسینی
        .shomare 6221 0610 7790 3401
    .baraks-f
      | ممنون
