@require '../omomi/moteghayer'
@require '../omomi/font'
@require '../effect/btn'
@require '../effect/input'
@require '../effect/aparat'
@require '../effect/jabe'
@require '../effect/rt.editor.di'
@require '../effect/blockqoute'
