.gride

  .posht
      
    h1 ویرایشگر فارسی
  .noh-darbar
    
    frt-editor(ng-model='mn.matnkamel')
//- h1  آخرین خبرها
.gride
  .posht
    h1  نمایش متن
  .noh-darbar
    .matn(ng-bind-html='mn.matnnemayesh')


