.pasafe
  .darbar-pasafe
    .darbare-ma-pasafe 
      span.titr-pasafe درباره ما
      ul
        li اهداف ما
        li اطلاعات ما
        li ارتباط با ما
    .bakhshha 
      span.titr-pasafe بخش ها
      ul
        li فناوری
        li کسنول
        li گجت
        li ویدیو
        li سرگرمی
        li عملی
        li نرم افزار
        li فرهنگ    
    .bakhshha 
      span.titr-pasafe لینک های مفید
      ul
        li فناوری
        li کسنول
        li گجت
        li ویدیو
        li سرگرمی
        li عملی
        li نرم افزار
        li فرهنگ
    .bakhshha 
      span.titr-pasafe نرم افزارهای
      ul
        li Android
        li IOS
        li WindowsPhone
    
  .ad-hg
    .address-b
      | آدرس : این متن صرفا جهت آزمایش نوشته شده است
    .hoghogh
      a.esme(ui-sref="mali")
        | سیدامیر حسینی
      span
        | استفاده آزاد است
