// اضافه کردن فونت تنها
@import url('https://cdn.rawgit.com/hemedani/tanha-font/v0.3.0/font-face.css')

// اضافه کردن فونت وزیر
@import url('https://cdn.rawgit.com/rastikerdar/vazir-font/v4.4.0/dist/font-face.css')

// اضافه کردن فونت شبنم
@import url('https://cdn.rawgit.com/rastikerdar/shabnam-font/v1.0.2/dist/font-face.css')

// اضافه کردن فونت گندم
@import url('https://cdn.rawgit.com/rastikerdar/gandom-font/v0.4.4/dist/font-face.css')

// اضافه کردن فونت ساحل
@import url('https://cdn.rawgit.com/rastikerdar/sahel-font/v1.0.0-alpha6/dist/font-face.css')
