rang = #336ca6
teyfNarenji()
	linear-gradient(180deg, rgba(242, 156, 85, arguments) 0%, rgba(237, 189, 65, arguments) 100%)
teyfSabz()
	linear-gradient(180deg, rgba(60, 131, 128, arguments) 0%, rgba(11, 19, 51, arguments) 100%)
rangRGB()
	rgba(47, 41, 51, arguments)
sorme()
	rgba(47, 41, 51, arguments)
sabz()
	rgba(189, 242, 113, arguments)
firoze()
	rgba(41, 217, 194, arguments)
bezh()
	rgba(255, 255, 166, arguments)
abi()
	rgba(1, 162, 166, arguments)
ghermez()
	rgba(217, 0, 0, arguments)

tosi()
	rgba(43, 45, 50, arguments)

sefid()
	rgba(237, 240, 249, arguments)
