/*ui-view.ng-enter,
[ui-view].ng-enter
  animation anim-effect-3-1 1.5s cubic-bezier(0.550, 0.055, 0.675, 0.190) forwards
  &:nth-child(2)
    animation-name anim-effect-3-2
  &:nth-child(3)
    animation-name anim-effect-3-3
*/

.main
  transition all 850ms ease
  &.ng-enter
    animation-name fadeInUp
    animation-duration 850ms
    animation-fill-mode both
  &.ng-leave
    animation fadeOutDown
    animation-duration 1s
    animation-fill-mode both

@keyframes anim-effect-3-1 {
	0% {
		transform: translate3d(0, 0, 0);
	}
	25%,
	75% {
		transform: translate3d(0, -100%, 0);
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	100% {
		transform: translate3d(0, -200%, 0);
	}
}

@keyframes anim-effect-3-2 {
	0%,
	12.5% {
		transform: translate3d(0, 0, 0);
	}
	37.5%,
	62.5% {
		transform: translate3d(0, -100%, 0);
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	87.5%,
	100% {
		transform: translate3d(0, -200%, 0);
	}
}

@keyframes anim-effect-3-3 {
	0%,
	25% {
		transform: translate3d(0, 0, 0);
		animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
	}
	75%,
	100% {
		transform: translate3d(0, -200%, 0);
	}
}
